body[data-theme="dark"] {
  color: $dark-text-base-color;
  background-color: $dark-black;

  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-white;
  }

  // Table
  table {
    thead {
      color: $dark-white;
      border-color: $dark-light;
    }

    th,
    td,
    tr {
      border-color: $dark-light;
    }
  }

  // Post
  .page-content {
    a {
      color: $dark-text-link-secondary;

      &:hover,
      &:active,
      &:focus {
        color: $dark-text-link-secondary-active;
      }
    }

    h3 {
      border-color: $dark-light;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .anchor-head {
        color: $dark-text-link-secondary;
      }
    }
  }

  // Syntax
  code {
    &.highlighter-rouge {
      background-color: $dark-light;
    }
  }

  // kbd tag
  kbd {
    border-color: $dark-light;
    color: $dark-white;
    text-shadow: 0 1px 0 $dark-black;
  }

  // horizontal rule
  hr {
    border-color: $dark-light;
  }

  // Post Meta
  .post-meta {
    color: $dark-gray;

    time {
      &::after {
        background-color: $dark-light;
      }
    }

    span[itemprop="author"] {
      border-color: $dark-light;
    }
  }

  // Link
  a {
    color: inherit;
    text-decoration-color: $dark-smoke;

    &:hover {
      color: $dark-text-link-secondary;
    }

    &:focus {
      outline-color: $dark-text-link-secondary-active;
    }
  }

  // List
  li {
    &:before {
      color: $dark-white;
    }
  }

  // Blockquote
  blockquote {
    color: $dark-gray;
    border-color: $dark-light;
  }

  // Strong, Bold
  strong,
  b {
    color: $dark-white;
  }

  // Navbar
  .navbar {
    border-color: $dark-light;
    .menu {
      a#mode {
        .mode-sunny {
          display: block;
        }
        .mode-moon {
          display: none;
        }
      }

      .menu-link {
        color: $dark-white;
      }
      @include media-query($on-mobile) {
        background-color: $dark-black;
        border-color: $dark-light;

        .menu-icon {
          > svg {
            fill: $dark-white;
          }
        }

        input[type="checkbox"]:checked ~ .trigger {
          background: $dark-black;
        }
      }
    }
  }

  // Post Item
  .post-item {
    &:not(:first-child) {
      border-color: $dark-light;
    }

    .post-item-date {
      color: $dark-white;
    }
    .post-item-title {
      a {
        color: $dark-text-base-color;

        &:hover,
        &focus {
          color: $dark-white;
        }
      }
    }
  }

  // Post Navigation
  .post-nav {
    border-color: $dark-light;

    .post-nav-item {
      font-weight: $bold-weight;

      .post-title {
        color: $dark-white;
        opacity: 0.9;
      }

      &:hover,
      &:focus {
        .post-title {
          color: $dark-text-link-secondary-active;
        }
      }

      .nav-arrow {
        color: $dark-gray;
      }
    }

    @include media-query($on-mobile) {
      .post-nav-item:nth-child(even) {
        border-color: $dark-light;
      }
    }
  }

  // Footer
  .footer {
    span.footer_item {
      color: $dark-white;
    }
    a.footer_item:not(:last-child) {
      color: $dark-white;
    }
    .footer_copyright {
      color: $dark-gray;
      opacity: 1;
    }
  }

  // 404 Page
  .not-found {
    .title {
      color: $dark-white;
      text-shadow: 1px 0px 0px $dark-text-link-secondary;
    }
    .phrase {
      color: $dark-text-base-color;
    }
    .solution {
      color: $dark-text-link-secondary;
    }
    .solution:hover {
      color: $dark-text-link-secondary-active;
    }
  }

  .search-article {
    input[type="search"] {
      color: $dark-text-base-color;
      &::-webkit-input-placeholder {
        color: rgba(128, 128, 128, 0.8);
      }
    }
  }

  // See more posts button dark theme
  .see-more-posts {
    .btn-see-more {
      color: $dark-text-base-color;

      &:hover {
        color: $dark-white;
      }
    }
  }

  // Author tags dark theme - Minimalist outlined style
  .author-tags {
    .love-tag {
      border-color: rgba(200, 200, 200, 0.2) !important;
      color: #c7bebe !important;

      &:hover {
        border-color: rgba(200, 200, 200, 0.4) !important;
        background-color: rgba(200, 200, 200, 0.05) !important;
      }
    }
  }

  // Additional specificity for dark theme tags
  body[data-theme="dark"] .author-tags .love-tag {
    border-color: rgba(200, 200, 200, 0.2) !important;
    color: #c7bebe !important;

    &:hover {
      border-color: rgba(200, 200, 200, 0.4) !important;
      background-color: rgba(200, 200, 200, 0.05) !important;
    }

    // Clickable tags in dark theme
    &.clickable-tag:hover {
      border-color: rgba(200, 200, 200, 0.6) !important;
      background-color: rgba(200, 200, 200, 0.1) !important;
      transform: translateY(-1px);
    }
  }

  // Floating TOC dark mode
  .toc-floating {
    .toc-lines {
      background: rgba(30, 30, 30, 0.95);
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

      .toc-line {
        background: rgba(180, 180, 180, 0.3);

        &.active {
          background: $dark-text-link-secondary-active;
          box-shadow: 0 0 8px rgba($dark-text-link-secondary-active, 0.4);
        }
      }
    }

    .toc-content {
      background: rgba(30, 30, 30, 0.95);
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);

      .toc-list {
        .toc-item {
          a {
            color: $dark-text-base-color;

            &:hover {
              background: rgba(180, 180, 180, 0.1);
              color: $dark-text-link-secondary-active;
            }
          }

          &.toc-item-h3 a {
            color: $dark-gray;
          }

          &.active a {
            color: $dark-text-link-secondary-active;
            border-left-color: $dark-text-link-secondary-active;
            background: rgba($dark-text-link-secondary-active, 0.15);
          }
        }
      }
    }
  }
}
