<div class="author">
  <!-- <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  /> -->
  <h1 class="author-name">{{ site.author.name }}</h1>
  <p class="author-bio">{{ site.author.bio }}</p>

  <div class="author-tags">
    <span
      class="love-tag love-tag-printing clickable-tag"
      onclick="window.open('https://cults3d.com/en/users/rafatorgar/3d-models', '_blank')"
      title="View my 3D models"
      >3D Printing</span
    >
    <span
      class="love-tag love-tag-modeling clickable-tag"
      onclick="window.open('https://cults3d.com/en/users/rafatorgar/3d-models', '_blank')"
      title="View my 3D models and designs"
      >3D Modelling</span
    >
    <span class="love-tag love-tag-coding">Full Stack Coding (TS)</span>
    <span class="love-tag love-tag-uxui">Product Design (UX&UI)</span>
    <span class="love-tag love-tag-pm">Product Management</span>
    <span
      class="love-tag love-tag-design clickable-tag"
      onclick="window.open('https://www.behance.net/gallery/102266963/Portfolio', '_blank')"
      title="View my design portfolio"
      >Industrial Design</span
    >
    <span class="love-tag love-tag-electronics">Electronics</span>
    <span class="love-tag love-tag-design">Graphic Design</span>
  </div>
</div>
